*.so
*.o

*.tar.gz

# Python
__pycache__/
*.pyc
*.py[cod]
*.egg
*.egg-info/
*.egg-info/*
*/*.egg-info/*
.eggs/
.eggs/*
dist/
build/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
